*body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin-top: 0;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

img {
    display: block;
    max-width: 100;
    height: auto;
}

a {
    text-decoration: none;
    font-style: normal;
}

.border{
    border-bottom: 1px solid #ECECEC;
}


.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.top-naigation {
    display: flex;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    padding-top: 25px;
    padding-bottom: 25px;

    letter-spacing: 0.03em;

    color: #000000;
}

.header-logo {
    color: #000000;
}

.menu-list {
    margin-left: 93px ;
    display: flex;
    padding-top: 32px;
}
 .menu-list > .item{
  margin-left: 54px;
 }


.header-contact {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

.list-contact {
    display: flex;
    margin-left: auto;
}

.list-contact > .item {
    margin-left: 50px;
}

.link:hover,
.link:focus {
    color: #2196f3;
}

.nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav.current{
    position: relative;
    color: #2196f3;
}

.nav.current::after{
content:"";
position: absolute;
width: 100%;
height: 4px;
left: 0;
bottom: -1px;
background-color: #2196f3;
border-radius: 2px;
}

.link:hover,
.link:focus {
    color: #2196f3;
}

.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

/* Герой */
.hero {
    background-color: #2F303A;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto ;
    margin-right: auto;
    background-image: url(./images/Img\ \(1\).png);
}

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;

    width: 696px;

    margin: 0 auto 30px;
}

.hero-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;

    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;

    padding: 10px 24px;

    margin-left: auto;
    margin-right: auto;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #2195f3b9;
}

.ikonka{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 4px;
    background: #F5F4FA;
}

.advantages {
    padding-top: 94px;
}

.attention-list {
    display: flex;
}

.advantages-title {
    font-style: normal;
    font-weight: 700;

    font-size: 14px;
    line-height: 1.14;

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.advantages-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: #757575;
}

/* Чим ми займаємося  */
.our-works {
   
}

.our-works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.item{
      
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercas
}

.our-works-list > .item {
    flex-basis: calc((100% - 60px) / 3);
}


.our-teem {
    background-color: #f5f4fa;
    flex-basis: calc((100% - 90px) / 4);
}

.our-teem-title {
    padding-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.our-teem-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.our-teem-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}

.social-list {
    display: inline-flex;
    padding-bottom: 30px;
}

.social-item {
    width: 44px;
    height: 44px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: #afb1b8;
    background-color: #fff;
}

.social-link:hover,
.social-link:focus {
    fill: #fff;
    background-color: #2196f3;
}

.our-teem-list >  .item{
    flex-basis: calc((100% - 90px) / 4);
    border-radius: 0px 0px 4px 4px;
        background: #FFF;
        /* material shadow v1 */
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Футер */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2f303a;
}

.logo {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    letter-spacing: 0.03em;

    color: #2196f3;

    display: flex;
}

.logo-footer {
    color: #ffffff;

    display: flex;
}

.address {
    color: #ffffff;

    display: flex;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);

    display: flex;
}
.filter-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: #f5f4fa;
    border-radius: 4px;
    color: #212121;
    padding: 6px 24px; 
    border: none;
}

.filter-btn:hover,
.filter-btn:focus {
    color: white;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.list-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.list-btn > .item{
    margin-left: 8px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.tehnokriak{
        width: 322px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.54px;
        background: rgba(33, 150, 243, 0.90);
}

.portfolio-list> .item{
flex-basis: calc((100% - 60px) / 3);
border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: #212121;
}

.portfolio-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: #757575;
}



//* modal */
body.show-modal .backdrop {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

body.show-modal .modal {
    transform: scale(1);
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
    padding: 40px;
    border-radius: 4px;
    max-width: 528px;
    width: 100%;
    min-height: 581px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

.modal-title {
    color: #212121;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
}

.modal-btn {}

.modal-icon-close {}

.modal-form {}

.form-field {}

.form-label {
    color: #757575;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.form-input {}

.modal-icon {}

.modal-button {
    padding: 10px 52px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal-button:hover,
.modal-button:focus {
    color: #2196f3;
    background-color: #fff;
}