.header {
    border-bottom: 1px solid #ececec;
}

.top-navigation {
    display: flex;
}

.main-nav {
    display: flex;
    align-items: center;
}

.list-contakts {
    @media screen and (min-width: 480px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: block;
        margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
    }

    &__header-contakt {
        display: flex;
        flex-direction: column;

        display: block;

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;

        color: #757575;

        @media screen and (min-width: 480px) {
        }

        @media screen and (min-width: 768px) {
            padding-bottom: 10px;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }

    &__header-svg {
        margin-right: 10px;
        fill: currentColor;
    }
}

.list-contakts > .list-contakts__item {
    margin-left: 50px;
}

.menu-list {
    @media screen and (min-width: 480px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: 93px;
    }

    &__item {
        margin-left: 50px;
    }

    &__menu-link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;

        color: #212121;
    }
}

.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;

    color: #000000;
}

.span-logo {
    color: #2196f3;
}
