.our-teem {
    background-color: #f5f4fa;
}

.our-teem-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__our-teem-title {
        padding-top: 30px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }

    &__oour-teem-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
    }
}

.our-teem-list > .item {
    flex-basis: calc((100% - 90px) / 4);
    border-radius: 0 0 4px 4px;
    background: #fff;
    box-shadow: 0 2px 1px 0 rgb(0, 0, 0, 0.2), 0 1px 1px 0 rgb(0, 0, 0, 0.14),
        0 1px 3px 0 rgb(0, 0, 0, 0.12);
}
